body, #right {
    margin: 0;
    font-family: 'Roboto Mono', "monospace";
}

#main {
    background-color: var(--theme-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#settings-button {
    width: 5vw;
    margin: auto;
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    /*left: .5em;*/
    /*top: 0.5em;*/
}

#plan_select, h1 {
    margin: 0;
    width: 95vw;
    border: 0;
    font-size: 2.5rem;
    text-align: center;
    text-align: -webkit-center;
    background-color: var(--main-color);
    background-image: var(--background);
    color: white;
    border-radius: 0;
}

/*select {*/
/*    filter: opacity(100%);*/
/*}*/

#header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    background-image: var(--background);
    justify-content: space-between;
}

a, p {
    color: var(--negative);
}

.day {
    display: none;
    overflow: scroll;
}
.shown {
    display: block;
}

.day, #days{
    height: 100%;
}

/*p {*/
/*    margin: 0;*/
/*}*/

#weekday{
    display: flex;
    background-color: var(--main-color);
    color: var(--negative);
    position: sticky;
    bottom: 0;
    height: 75px;
}

.overflow {
    min-height: 125px;
}

#weekday-text {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0.5em;
}

button {
    background: #0000;
    border: none;
    color: var(--main-color);
    filter: brightness(60%);
    font-size: 2rem;
}
#weekday button:first-child {
    padding-left: 2rem;
}

#weekday button:last-child {
    padding-right: 2rem;
}

.lesson {
    display: flex;
    flex-direction: row;
    color: var(--negative);
    font-size: .2rem;
    border-bottom: rgb(127, 127, 127) solid 2px;
}
.number {
    font-size: 13em;
    margin: 0 0.3em;
}
.hours{
    display: flex;
    font-size: 6em;
    flex-direction: column;
    margin: 0 0.6em 0 0;
}

.hours p:first-child {
    margin-bottom: 0.16em;
}

.subject{
    margin-top: 0;
    font-size: 7em;
    margin-bottom: .1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 0;
 }
.lesson-text {
    display: flex;
    flex-direction: column;
}
.teacher_classroom {
    font-size: 5em;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: var(--main-color);
}
.darker-text {
    filter: brightness(70%);
}

.repl-text {
    color: var(--main-color);
}
.repl-s  {
    text-decoration: line-through;
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--main-color);
}
#ustawienia-form {
    padding: 0.7rem;
    font-size: 1.2rem;
    max-width: 90vh;
    margin-left: auto;
    margin-right: auto;
}
.ustawienia label, .ustawienia input {
    font-size: 1em;
    color: white;
}
#grupy {
    display: flex;
    flex-direction: column;
}
.naglowek-ustaw {
    font-size: 1.5em;
    color: white;
}
.naglowek-ustaw:not(:first-child) {
    margin-top: 1em;
}
.ustawienia {
    padding: 0.3em;
}

a[href] {
    color: var(--main-color);
}

.gr1-2, .gr2-2, .gr1-3, .gr2-3, .gr3-3, .gr1-wf, .gr2-wf, .gr1-r{
    display: none;
}
.material-icons {
    color: white;
    font-size: 36px !important;
}
.annotation {
    color: white;
    font-size: .8rem;
}