@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', "monospace";
    overflow: hidden;
}

#main {
    display: flex;
    height: 100vh;
}

#right {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--theme-background);
    color: white;
    padding: 0;
}

a {
    color: var(--main-color);
}
#content {
    padding-top: 1rem;
    overflow-y: scroll;
}

#motd-info {
    color: var(--negative);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}

svg {
    color: var(--main-color);
}
#mobile-warning-background {
    z-index: 100;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: #000a;
    display: flex;
}

@media screen and (orientation: landscape) {
    #mobile-warning-background {
        display: none;
    }
}

#mobile-warning {
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    margin: auto;
    background-color: var(--theme-background);
    border-radius: 1rem;
}
#mobile-warning-button {
    width: 10rem;
    height: 5rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
#mobile-warning-button a {
    margin: auto 0;
    color: white;
}