#view2, #view3 {
    background-color: var(--theme-background);
}

#info {
    max-width: 90vh;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: break-word;
}

.footer-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}