<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan ZSE stworzony przez @grzybowski_byd</title>

    <!-- LOCAL -->
    <link href="/static/CSS/mobile.css" rel="stylesheet">
    <script src="/static/JS/load_cookies.js"></script>
    {% if hide_mobile_groups %}
    <style>
        .gr1-2, .gr2-2, .gr1-3, .gr2-3, .gr3-3, .gr1-wf, .gr2-wf, .gr1-r{
            display: none;
        }
    </style>
    {% endif %}
    <!-- REMOTE -->
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div id="main">
    <header>
        <div id="header">
            <a id="settings-button" href="/ustawienia?m/{{ url }}"><i class="material-icons">settings</i></a>
            <form>
                <label hidden="hidden" for="plan_select">Plan: </label>
                <select name="plan" id="plan_select" onchange="window.location.replace(this.form.plan.value)">
                    <option id="class_test" value="" disabled selected>{{ current_class }}</option>
                    <optgroup label="Oddziały: ">
                        {% for temp in parse_classes %}
                            <option value='{{ temp[0] | replace(".html", "") | replace("plany/", "") }}'>{{ temp[1] }}</option>{% endfor %}
                    </optgroup>
                    <optgroup label="Nauczyciele: ">
                        {% for temp in parse_teachers %}
                            <option value='{{ temp[0] | replace(".html", "") | replace("plany/", "") }}'>{{ temp[1] }}</option>{% endfor %}
                    </optgroup>
                    <optgroup label="Sale: ">
                        {% for temp in parse_classrooms %}
                            <option value='{{ temp[0] | replace(".html", "") | replace("plany/", "") }}'>{{ temp[1] }}</option>{% endfor %}
                    </optgroup>
                </select>

            </form>

        </div>
    </header>
    <div id="days">
        {%- for i in range(5) %}
            <div class="day">
                {%- for row in plan -%}
                    {%- if row[i + 2][0]["name"] is not none %}
                        {%- for group in row[i + 2] %}
                            <div class="lesson gr{{ group["group"] }} gr{{ group["group"] }}-{{ group["group-count"] }} r{{ row[0][0]["name"] }}">
                                <span class="number">{{ row[0][0]["name"] }}</span>
                                <div class="hours darker-text">
                                    <span>{{ row[1][0]["name"][:5] }}</span>
                                    <span>{{ row[1][0]["name"][6:] }}</span>
                                </div>
                                <div class="flex-column">
                                    <span class="subject">{{ group["name"] }}</span>
                                    <span class="teacher_classroom">
                                        {%- if group["class"]["name"] is not none %}
                                            <a {{ ("href=" + group["class"]["url"]) if group["class"]["url"] is not none else "" }}>{{ group["class"]["name"] }}</a>
                                        {%- endif -%}
                                        {{ " | " if  (group["class"]["name"] is not none and group["teacher"]["name"] is not none) or (group["class"]["name"] is not none and group["classroom"]["name"] is not none) }}
                                        {%- if group["teacher"]["name"] is not none %}
                                            <a {{ ("href=" + group["teacher"]["url"]) if group["teacher"]["url"] is not none else "" }}>{{ group["teacher"]["name"] }}</a>
                                        {%- endif -%}
                                        {{ " | " if  (group["teacher"]["name"] is not none and group["classroom"]["name"] is not none) }}
                                        {%- if group["classroom"]["name"] is not none %}
                                            <a {{ ("href=" + group["classroom"]["url"]) if group["classroom"]["url"] is not none else "" }}>{{ group["classroom"]["name"] }}</a>
                                        {%- endif %}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {%- endif %}
                {%- endfor -%}
                <div class="overflow"></div>
            </div>
        {% endfor %}
    </div>
    <div id="weekday">
        <button onclick="prev_day()"><</button>
        <span id="weekday-text">Poniedziałek</span>
        <button onclick="next_day()">></button>
    </div>
    <script src="/static/JS/transition.js"></script>
    <script>
        let weekdayH1 = document.getElementById("weekday-text");
        let weekday = parseInt({{ weekday }});
        let weekdays = ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek"];
        weekdayH1.innerText = weekdays[weekday];
        const days = document.querySelectorAll(".day");
        days[weekday].classList.toggle("shown");

        let repl = JSON.parse('{{replacements|tojson}}');
        for (const sub of repl) {
            set_repl(sub[0], sub[1], sub[2], sub[3]);
        }

        function prev_day() {
            days[weekday].classList.toggle("shown");
            if (weekday > 0) {
                weekday -= 1;
            }
            days[weekday].classList.toggle("shown");
            weekdayH1.innerText = weekdays[weekday];
        }

        function next_day() {
            days[weekday].classList.toggle("shown");
            if (weekday < 4) {
                weekday += 1;
            }
            days[weekday].classList.toggle("shown");
            weekdayH1.innerText = weekdays[weekday];
        }

        function set_repl(row, column, text, group) {
            const group_obj = days[column].querySelector(`.gr${group}.r${row}`);
            const subject = group_obj.querySelector(".flex-column .subject");
            subject.innerText = text;
            subject.classList.toggle("repl-text");
            group_obj.querySelector(".teacher_classroom").classList.toggle("repl-s");
        }
    </script>
    <script>
        const group_ids = ["1-r", "1-2", "2-2", "1-3", "2-3", "3-3", "1-wf", "2-wf"]
        for (const [i, x] of groups.entries()) {
            if (x) {
                const temp_group_obj = document.querySelectorAll(`.gr${group_ids[i]}`)
                temp_group_obj.forEach((e) => {
                    e.style.display = "flex";
                })
            }
        }
    </script>
</div>
</body>
</html>